*, *::after, *::before{
    box-sizing:border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:0;
    margin: 0;
}
.dark-mode{
    filter: invert(1)hue-rotate(180deg)
}
.invert{
    filter: invert(1)hue-rotate(180deg)
}

.heading{
    padding-top:10px ;
    position: absolute;
    top: 0;
    text-align: center;
}

body{
    background: linear-gradient(to right, #051016,#011a27);
    background-size:200% 100%;
    background-position:left bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: rgb(179, 216, 231);
    width: 100%;
    height: 100%;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    

}
::-webkit-scrollbar {
    display: none;
  }
  
.clock{
    width:350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4px solid #041d2b;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                    inset 0 -15px 15px rgba(255,255,255,0.05),
                     0 15px 15px rgba(0, 0, 0, 0.05),
                    inset 0 15px 15px rgba(0, 0, 0, 0.05);
    position: relative;
}

.clock::before{

    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}

.clock .number{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-style: bold;
    font-size: 1.5rem;
}

.clock .number1 { --rotation: 30deg}
.clock .number2 { --rotation: 60deg}
.clock .number3 { --rotation: 90deg}
.clock .number4 { --rotation: 120deg}
.clock .number5 { --rotation: 150deg}
.clock .number6 { --rotation: 180deg}
.clock .number7 { --rotation: 210deg}
.clock .number8 { --rotation: 240deg}
.clock .number9 { --rotation: 270deg}
.clock .number10 { --rotation: 300deg}
.clock .number11 { --rotation: 330deg}


.clock .hand{
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}

.clock .hand.second{
    width: 3px;
    height: 45%;
    background-color: red;
}


.clock .hand.minute{
    width: 6px;
    height: 40%;
    background-color:black;
}


.clock .hand.hour{
    width: 10px;
    height: 35%;
    background-color: black;
}